################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PdfSearch/obj/Debug
/PdfSearch/bin/Debug
/packages/iTextSharp.5.5.8
